.first-view {
    position: relative;
    height: calc(100vh - 50px);
    color: white;
    background: url('/first-view.jpg') no-repeat center center / cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* オーバーレイでテキストを強調 */
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h1 {
    font-size: 48px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.reservation-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.reservation-button a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}
.reservation-button:hover {
    background-color: #45a049;
}