<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>サイエンス工作教室</title>
    <link rel="stylesheet" type="text/css" href="/top.css" />
</head>
<body>
    <div th:replace="header :: headerFragment"></div>
    <div class="first-view">
        <div class="overlay"></div>
        <div class="content">
            <h1>サイエンス工作教室へようこそ！</h1>
            <button class="reservation-button">
                <a href="/reservation">
                    ご予約はこちらから
                </a>
            </button>
        </div>
    </div>
    <div class="container">
        <p>
            工作一覧は<a href="/workshop">こちら</a>からご覧いただけます。
        </p>
        <p>
            予約は<a href="/reservation">こちら</a>からお願いします。
        </p>
        <p>
            お問い合わせは<a href="/contact">こちら</a>からお願いします。
        </p>
        <p>
            メンバーのログインは<a href="/login">こちら</a>からお願いします。
        </p>
    </div>
</body>
</html>
